.card{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 16px;
    
}
.card p{
    font-size: 18px;
}
.card img{
    width: 315px;
    height: 240px;
    margin: 0 auto;


}
.return button{
    background-color: #0A8F3E;
    color: #fff;
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px auto;
    width: 100%;

}
.return button:active{
    background-color:#065825;
}
.avaliation{
    /* padding-left: 7px; */

}
.coments{
    width: 95%;
    height: 50px;
    /* border: 1px solid; */
    border-radius: 5px;

}