.card{
    /* padding-top: 10px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 85%;
    border-radius: 16px;
    
    
}
.card h2{
    font-size: 23px;
    font-weight: 330;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}
.card span{
    line-height: 28px ;
}
.card img{
    width: 60%;
    padding-top: 10px;
    margin: 0 auto;


}
.return button{
    background-color: #0A8F3E;
    color: #fff;
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px auto;
    width: 100%;

}
.return button:active{
    background-color:#065825;
}

.coments{
    width: 98%;
    height: 50px;
    /* border: 1px solid; */
    border-radius: 5px;

}
.star{
    text-align: center;
}

.heart{
    float: right;
    
}
.shocking{
    
}
.sad{
    float: right;
}

.twoEnd{
    padding-bottom: 15px;
}